.rouge {
    background-colo: red;
}

.verte {
    background-color: green;
}

.gris {
    backgound-color: gray;
}

.jaune {
    backgound-color: yellow;
}

.bleu {
    backgound-color: blue;
}

.pink {
    background-color: pink;
}

.black {
    background-color: #5F3F4A;
}

.white {
    background-color: white;
}

.bleuciel {
    background-color: #4D90E2;
}