/* scroll to top */

.scrollup {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 0px;
    right: 20px;
    background: blue;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border-style: dotted;
    border-color: plum;
    display: none;
}

a.scrollup {
    outline: 0;
    text-align: center;
}

a.scrollup:hover,
a.scrollup:active,
a.scrollup:focus {
    opacity: 1;
    text-decoration: none;
}

a.scrollup i {
    margin-top: 10px;
    color: #fff;
}

a.scrollup i:hover {
    text-decoration: none;
}


/*Down */


/* scroll to bottom */

.scrolldown {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 0px;
    right: 20px;
    display: none;
    background: gray;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border-style: dotted;
    border-color: plum;
}

a.scrolldown {
    outline: 0;
    text-align: center;
}

a.scrolldown:hover,
a.scrolldown:active,
a.scrolldown:focus {
    opacity: 1;
    text-decoration: none;
}

a.scrolldown i {
    margin-top: 10px;
    color: #fff;
}

a.scrolldown i:hover {
    text-decoration: none;
}