.map {
    overflow: hidden;
}

@media (min-width: 300px) {
    .map_image {
        float: right;
        width: 50%;
        height: 50%;
        background-color: rgb(166, 213, 74);
    }
}

@media (min-width: 400px) {
    .map_list {
        float: left;
        width: 40%;
        background-color: #f4e9e9;
        text-align: left;
        font-size: 12px;
    }
}

@media (min-width: 900px) {
    .map_list {
        font-size: 12px
    }
}

.map_list ul li {
    list-style-type: num;
}

.titre {
    position: initial;
}

.map_image path {
    fill: gray;
    stroke: honeydew;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.map_list a {
    color: inherit;
    text-decoration: none;
}

.map_image .is_active path {
    fill: green;
    transition: color O.3S;
}

.map_list a.is_active {
    background-color: blue;
}